@(studentForm: Form[StudentFormData],
		faculty: Map[String, Boolean],
		classStudent: Map[String, Boolean])

@import helper._
@import bootstrap3._
@import helper.twitterBootstrap._


@main("Student form") {
	<h1>Student form</h1>
	<div class="alert alert-success" style="width : 600 px">
	@form(action = helper.CSRF(routes.Quanly.save()), 'enctype -> "multipart/form-data") {
		<input type="hidden" value="@studentForm("id").valueOr("")" name="id"/>
		<fieldset>
			<legend>Product (@studentForm("mssv").valueOr("New"))</legend>

			@text(studentForm("mssv"),
				label = "MSSV",
				placeholder = "",
				isDisabled = false,
				help = "Please enter your mssv. (required)")

			@text(studentForm("name"),
				label = "Name",
				placeholder = "",
				isDisabled = false,
				help = "Please enter your name")


			<div class="form-group @if(studentForm("birthDay").hasErrors) {has-error}">
				<label class="col-sm-2 control-label" for="@studentForm("birthDay").id">Birthday</label>
				<div class="col-sm-10">
					<input class="form-control" type="date" id="@studentForm("birthDay").id" name="@studentForm("birthDay").id" value="@studentForm("birthDay").value">
					<span class="help-block">Please enter your birthday (required)</span>
					<span class="help-block">@{
						studentForm("birthDay").error.map { error => error.message }
					}</span>
				</div>
			</div>

			@text(studentForm("phoneNumber"),
				label = "Phone Number",
				placeholder = "",
				isDisabled = false,
				help = "Please enter your phone number.")

			<div class="form-group @if(studentForm("email").hasErrors) {has-error}">
				<label class="col-sm-2 control-label" for="@studentForm("email").id">Email</label>
				<div class="col-sm-10">
					<input class="form-control" type="email" id="@studentForm("email").id" name="@studentForm("email").id" value="@studentForm("email").value" placeholder="Email"
												@if(studentForm("email").value != null){readonly}>
					<span class="help-block">Please enter your Email</span>
					<span class="help-block">@{
						studentForm("email").error.map { error => error.message }
					}</span>
				</div>
			</div>


			@select2(studentForm("classStudent"),
				label = "Class",
				optionMap = classStudent,
				isMultiple = false,
				isDisabled = false,
				help = "Select your class. (required)")

			@select2(studentForm("faculty"),
				label = "Faculty",
				optionMap = faculty,
				isMultiple = false,
				isDisabled = false,
				help = "Select your faculty. (required)")

		</fieldset>
	</div>
	<input type="submit" class="btn btn-primary" value="Save">
	<a class="btn" href="@routes.Application.index()">Cancel</a>
}
	<br/>
	<br/>
}
