@(field: Field, label: String = "CHANGEME", optionMap: Map[String, Boolean], isMultiple: Boolean, isDisabled: Boolean, help: String = "")

  <div class="form-group @if(field.hasErrors) {has-error}">
    <label class="col-sm-2 control-label" for="@field.id">@label</label>
    <div class="col-sm-10">
      <select
        class="form-control"
        id="@field.id"
        name="@if(isMultiple) {@(field.name + "[]")} else {@field.name}"
        @if(isMultiple) {multiple="multiple"} @if(isDisabled) {readonly}>
        @if(!isMultiple) {<option class="blank" value="">Please select a value</option>}
        @for((optionName, isSelected) <- optionMap) {
          <option id="@optionName" value="@optionName" @if(isSelected) {selected}>@optionName</option>
        }
      </select>
      <span class="help-block">@help</span>
      <span class="help-block">@{field.error.map { error => error.message }}</span>
    </div>
  </div>
