@(currentPage: com.avaje.ebean.Page[Student], currentSortBy: String, currentOrder: String, currentFilter: String)

@link(newPage:Int, newSortBy:String) = @{

	var sortBy = currentSortBy
	var order = currentOrder

	if(newSortBy != null) {
		sortBy = newSortBy
		if(currentSortBy == newSortBy) {
			if(currentOrder == "asc") {
				order = "desc"
			} else {
				order = "asc"
			}
		} else {
			order = "asc"
		}
	}

	// Generate the link
	routes.Quanly.list(newPage, sortBy, order, currentFilter)
}

@main("Quanly catalogue") {

	<h2 style="color: lightslategray">&nbsp List students</h2>

	<script>
	function del(urlToDelete) {
	$.ajax({
	url: urlToDelete,
	type: 'DELETE',
	success: function(results) {
	// Refresh the page
	location.reload();
	}
	});
	}
	</script>
	<br></br>
	<div id="actions">
		<div class="col-lg-6">
			<form action="@link(0, "name")" method="GET">
				<div class="input-group">
					<input type="search" class="form-control" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by mssv ...">
					<span class="input-group-btn">
						<button class="btn btn-default" id="searchsubmit" type="submit">Go!</button>
					</span>
				</div><!-- /input-group -->
			</form>
		</div><!-- /.col-lg-6 -->
	</div>


	<br></br>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>MSSV</th>
				<th>Name</th>
				<th>Birthday</th>
				<th>Phone number</th>
				<th>Class</th>
				<th>Faculty</th>
				<th>Email</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		@for(student <-  currentPage.getList) {
			<tr>
				<td><a href="@routes.Quanly.details(student.mssv)">@student.mssv</a></td>
				<td>@student.name</td>
				<td>@student.birthDay.format("dd-MM-yyyy")</td>
				<td>@student.phoneNumber</td>
				<td>@if(student.classStudent != null) {@student.classStudent.getName}</td>
				<td>@if(student.faculty != null) {@student.faculty.getName}</td>
				<th>@student.email</th>
				<td>
					<a href="@routes.Quanly.details(student.mssv)">
						<span class="glyphicon glyphicon-pencil"></span></a>
					<a onclick="javascript : del ( ' @routes.Quanly.delete(student.mssv) ')">
						<span class="glyphicon glyphicon-trash  "></span></a>
				</td>
			</tr>
		}
		</tbody>
	</table>

		<ul class="pagination">
			@if(currentPage.hasPrev) {
				<li class="prev">
					<a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
				</li>
			} else {
				<li class="prev disabled">
					<a>&larr; Previous</a>
				</li>
			}
			<li class="current active">
				<a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
			</li>
			@if(currentPage.hasNext) {
				<li class="next">
					<a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
				</li>
			} else {
				<li class="next disabled">
					<a>Next &rarr;</a>
				</li>
			}
		</ul>

	<br/>
	<a href="@routes.Quanly.newStudent()" class="btn btn-primary"><i class="icon-plus"></i> New student</a>
	<br/>
	<br/>
}